.container .row h1 {
  margin-left: auto;
  margin-right: auto;
}

.input-range {
  display: inline-block;
  margin-left: 15px;
  width: 200px !important;
}

.leaflet-container {
  height: 500px;
  /* width: 100%; */
}

@media (max-width: 768px) {
  .input-range {
    width: 100px !important;
  }

  .filterLabel {
    width: 300px;
  }

}

@media (max-width: 500px) {
  .filtres {
    flex-direction: column;
  }

  .filterLabel {
    margin-left: 0;
  }
}

@media (max-width: 450px) {
  .filtres {
    font-size: 17px;
  }

  .chechbox-container {
    padding-left: 23px;
  }

  .checkmark {
    height: 17px;
    width: 17px;
  }

  .chechbox-container .checkmark:after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
  }
}

@media (max-width: 350px) {
  .filterLabel {
    margin-right: 16px;
    width: auto;
  }
}