.filtres {
  background-color: #474747;
  color: white;
  padding: 20px 10px;
  font-size: 22px;
  display: flex;
  justify-content: space-around;
}

.filtres label {
  margin-top: auto;
  margin-bottom: auto;
}

.filtres label select {
  margin-left: 8px;
}

.filtres .filterLabel {
  display: inline;
  margin-left: 10px;
  width: 400px;
}

/* CUSTOM CHECKBOX */

.chechbox-container {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-bottom: 0;
}

.chechbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 50%;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  transform: translateY(-50%);
}

.chechbox-container:hover input~.checkmark {
  background-color: #ccc;
}

.chechbox-container input:checked~.checkmark {
  background-color: #4CAF50;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.chechbox-container input:checked~.checkmark:after {
  display: block;
}

.chechbox-container .checkmark:after {
  left: 10px;
  top: 5px;
  width: 6px;
  height: 13px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*  */

@media (max-width: 768px) {
  .input-range {
    width: 100px !important;
  }

  .filtres .filterLabel {
    width: 300px;
  }

  .select-brand {
    display: none;
  }

}


@media (max-width: 500px) {
  .filtres {
    flex-direction: column;
  }

  .filtres .filterLabel {
    margin-left: 0;
  }
}

@media (max-width: 450px) {
  .filtres {
    font-size: 17px;
  }

  .chechbox-container {
    padding-left: 23px;
  }

  .checkmark {
    height: 17px;
    width: 17px;
  }

  .chechbox-container .checkmark:after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
  }
}

@media (max-width: 350px) {
  .filterLabel {
    margin-right: 16px;
    width: auto;
  }
}